:root {
    --default-size: 800;
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.board {
    /* overflow: hidden; */
    width: var(--default-size);
    height: var(--default-size);
    max-width: 800px;
    max-height: 800px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.display {
    padding: 50px;
    margin: 50px 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.display > * {
    border: 1px solid black;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
}

.color input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.color input::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
}
.color input::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
}

.option-button {
    cursor: pointer;
    margin-bottom: 8px;
    background-color: #0563bb;
    padding: 2px 8px;
    color: white;
    border-radius: 8px;
}

.active {
    border: 2px solid black;
}